<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.advertisement.mapper.LawClausesMapper">

    <resultMap type="LawClauses" id="LawClausesResult">
        <result property="id"    column="id"    />
        <result property="clauseCode"    column="clause_code"    />
        <result property="lawName"    column="law_name"    />
        <result property="clauseNumber"    column="clause_number"    />
        <result property="content"    column="content"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectLawClausesVo">
        select id, clause_code, law_name, clause_number, content, is_deleted, create_by, create_time, update_by, update_time from tb_law_clauses
    </sql>

    <select id="selectLawClausesList" parameterType="LawClauses" resultMap="LawClausesResult">
        <include refid="selectLawClausesVo"/>
        <where>
            <if test="clauseCode != null  and clauseCode != ''"> and clause_code = #{clauseCode}</if>
            <if test="lawName != null  and lawName != ''"> and law_name like concat('%', #{lawName}, '%')</if>
            <if test="clauseNumber != null  and clauseNumber != ''"> and clause_number = #{clauseNumber}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createBy != null "> and create_by = #{createBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateBy != null "> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>

        </where>
    </select>

    <select id="selectLawClausesById" parameterType="Long" resultMap="LawClausesResult">
        <include refid="selectLawClausesVo"/>
        where id = #{id}
    </select>

    <insert id="insertLawClauses" parameterType="LawClauses" useGeneratedKeys="true" keyProperty="id">
        insert into tb_law_clauses
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clauseCode != null and clauseCode != ''">clause_code,</if>
            <if test="lawName != null">law_name,</if>
            <if test="clauseNumber != null">clause_number,</if>
            <if test="content != null">content,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clauseCode != null and clauseCode != ''">#{clauseCode},</if>
            <if test="lawName != null">#{lawName},</if>
            <if test="clauseNumber != null">#{clauseNumber},</if>
            <if test="content != null">#{content},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateLawClauses" parameterType="LawClauses">
        update tb_law_clauses
        <trim prefix="SET" suffixOverrides=",">
            <if test="clauseCode != null and clauseCode != ''">clause_code = #{clauseCode},</if>
            <if test="lawName != null">law_name = #{lawName},</if>
            <if test="clauseNumber != null">clause_number = #{clauseNumber},</if>
            <if test="content != null">content = #{content},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLawClausesById" parameterType="Long">
        delete from tb_law_clauses where id = #{id}
    </delete>

    <delete id="deleteLawClausesByIds" parameterType="String">
        delete from tb_law_clauses where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>