@font-face {
  font-family: "iconfont"; /* Project id 4973923 */
  src: url('//at.alicdn.com/t/c/font_4973923_0chgtg43dred.woff2?t=1752476133229') format('woff2'),
       url('//at.alicdn.com/t/c/font_4973923_0chgtg43dred.woff?t=1752476133229') format('woff'),
       url('//at.alicdn.com/t/c/font_4973923_0chgtg43dred.ttf?t=1752476133229') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenpi1:before {
  content: "\eb7c";
}

.icon-iconfontscan:before {
  content: "\e600";
}

.icon-saoma:before {
  content: "\e648";
}

.icon-weixiujilu:before {
  content: "\e683";
}

.icon-xiaoxi:before {
  content: "\e644";
}

.icon-xiaoxi1:before {
  content: "\e62f";
}

.icon-wode2:before {
  content: "\e601";
}

.icon-wode:before {
  content: "\e61b";
}

.icon-shouye:before {
  content: "\e61c";
}

.icon-qingdan:before {
  content: "\e645";
}

.icon-haocaichuku:before {
  content: "\e706";
}

.icon-zichanjieyong:before {
  content: "\e638";
}

.icon-haocaipandian:before {
  content: "\e6c9";
}

.icon-shouye6:before {
  content: "\e66f";
}

.icon-zichanweixiu:before {
  content: "\e77f";
}

.icon-a-gongzuotai3:before {
  content: "\eb70";
}

.icon-zichantuiku:before {
  content: "\e69e";
}
